/* YUI Reset 3.3.0 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
  font-family: 'Bentham';
  font-style: normal;
  font-weight: normal;
  src: local('Bentham'), local('Bentham-Regular'), url('http://themes.googleusercontent.com/font?kit=AX8zYXO42YSPwk__nrgI4gLUuEpTyoUstqEm5AMlJo4') format('truetype');
}

body {margin: 1em auto; padding: 0.25em; font-size: 18px; width: 800px; letter-spacing: 0.05em;}
body, a {color: #222;}
h1 {font-size: 650%; line-height: 0.80em;}
h2 {font-size: 200%;}
h1, h2 { font-family: 'Bentham', arial, serif;}
p {margin: 1em 0;}
p:first-child, p:first-of-type {margin: 0;}
a, a:hover, a:active, a:visited {text-decoration: none; font-weight: bold; letter-spacing: 0.05em;}

/* reusable stuff */
.media-block {overflow: hidden;}
.media-block img {float: left; margin: 0 1em 1em 0;}

/* header */
header h1, header h2 {text-align: center;}
header {margin: 2em 0 2em;}

/* sections */
section {margin: 3em 0; clear: both;}


/* footer */
footer ul {text-align: center;}
footer li {display: inline; margin: 0 1em 0;}

/* media query overrides */
@media only screen and (max-width: 800px) {
  body {font-size: 18px; width: 100%;}
  h1 {font-size: 270%;}
  h2 {font-size: 150%;}
}

@media only screen and (max-width: 480px) {
  body {font-size: 18px; width: 100%;}
  h1 {font-size: 270%;}
  h2 {font-size: 150%;}
}